extends layout

block content
  h3=title

  form(method='POST' action='')
    div.form-group
      label(for='first_name') First Name:
      input#first_name.form-control(type='text' placeholder='First name (Christian)' name='first_name' required='true' value=(undefined===author ? '' : author.first_name) )
      label(for='family_name') Family Name:
      input#family_name.form-control(type='text' placeholder='Family name (surname)' name='family_name' required='true' value=(undefined===author ? '' : author.family_name))
    div.form-group
      label(for='country') Country:
      select#country.form-control(type='select' placeholder='Select country' name='country' required='true' )
        - countries.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for country in countries
          if author
            //- Handle GET form, where author.country is an object, and POST form, where it is a string.
            option(
              value=country._id
              selected=(
                country._id.toString()==author.country._id
                || country._id.toString()==author.country
              ) ? 'selected' : false
            ) #{country.name}
          else
            option(value=country._id) #{country.name}
    div.form-group
      label(for='date_of_birth') Date of birth:
      input#date_of_birth.form-control(type='date' name='date_of_birth' value=(undefined===author ? '' : author.date_of_birth_yyyy_mm_dd) )
    div.form-group
      label(for='date_of_death') Date of death:
      input#date_of_death.form-control(type='date' name='date_of_death' value=(undefined===author ? '' : author.date_of_death_yyyy_mm_dd) )
    button.btn.btn-primary(type='submit') Submit
    | 
    a.btn.btn-secondary(href='/catalog/books') Cancel
  if errors 
    ul
      for error in errors
        li!= error.msg