extends layout

block content
  h3= title
  
  table.table.table-sm.table-hover
    thead.thead-light
      tr
        th(scope='col' width='30px') #
        th(scope='col' width='80px') 
        th(scope='col') Author 
        th(scope='col') Born
        th(scope='col') Died
        th(scope='col') Country of Origin
    tbody 
      - let index = 0
      each author in author_list
        //- Excluding the default author
        if author._id!='5f181920c4d320322dbbf993'
          - index++
          tr
            th(scope='row') !{index}.
            td(height='100px')
              a(href=author.url)
                img(src=`/images/authors/${author._id}.jpg`, style='float:left;width:100%;', title=`${author.name}`, alt=`${author.name}`)
            td
              a(href=author.url) #{author.name} 
            if author.date_of_birth == null
              td 
            else
              td #{moment(author.date_of_birth).format('MMM D, YYYY')}
            if author.date_of_death == null
              td 
            else
              td #{moment(author.date_of_death).format('MMM D, YYYY')}
            td #{author.country.name}

      else
        li There are no authors.