extends layout

block content

  include helpers

  div.media
    img.align-self-start.mr-3(id='author_cover', src=`/images/authors/${author._id}.jpg`, onerror="this.onerror=null;this.src='/images/authors/missing_photo.svg';", title=`${author.name}`, alt=`${author.name}`)
    
    div.media-body
      h3 #{author.name}

      hr

      div(style='margin-left:20px;margin-top:20px')
        
        h4 Bio
        
        p #{author.lifespan} | Country:  
          | 
          a(href=author.country.url) #{author.country.name}

        h4 Books
        
        ul.list-unstyled
          each book in author_books
            li.media.my-4
              a(href=book.url)
                img.mr-3(src=`/images/books/${book._id}.jpg`, style='max-width:80px;', onerror="this.onerror=null;this.src='/images/books/missing_book.jpg';", title=`${book.title}`, alt=`${book.title}`)
              div.media-body 
                a.mt-0.mb-1(href=book.url) #{book.title} 
                br
                p(style='display:inline') #{truncate(book.summary, 250)} 
                |
                a(href=book.url title=book.summary) ...more
          else
            p This author has no books yet. Add one 
              | 
              a(href='/catalog/book/create') now.
      hr
      if user
        if user.email==ADMIN_EMAIL
          a.btn.btn-dark(href=author.url+'/update') Update author
          | 
          a.btn.btn-danger(href=author.url+'/delete') Delete author
        | 
        a.btn.btn-secondary(href='/catalog/authors') Back to Authors


  
