extends layout

block content

  h3 Author: #{author.name}
  p #{author.lifespan} | Country:  #{author.country.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Books
    
    dl
      each book in author_books
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}

      else
        p This author has no books. Add one 
          | 
          a(href='/catalog/book/create') now.
  hr
  if user
    a.btn.btn-secondary(href=author.url+'/update') Update author
    | 
    a.btn.btn-danger(href=author.url+'/delete') Delete author