extends layout

block content
  //- Create an array for the in progress items and counters for the read and wishlist items (for display only)
  - var myBooks_read = 0
  - var inProgressBooks = []
  - var myBooks_wishList = 0

  each val, index in personal_list
    if personal_list[index].status == "Read"
      - myBooks_read++
    else 
      if personal_list[index].status == "In progress"
        //- Collect the in progress items in the array
        - inProgressBooks.push(personal_list[index]);
      else
        - myBooks_wishList++

  h3= title
  h6 
    a(href='/booklists/mylist') All (!{personal_list.length}) 
  h6 
    a(href='read') Read (!{myBooks_read})
  h6 In Progress (!{inProgressBooks.length})
  h6
    a(href='wishlist') Wish List (!{myBooks_wishList})

  table.table.table-sm.table-hover
    thead.thead-light
      tr
        th(scope='col' width='30px') #
        th(scope='col' width='30px') Cover
        th(scope='col' width='250px') Title 
        th(scope='col') Author 
        th(scope='col') Avg. Rating
        th(scope='col') My Rating
        th(scope='col') Status 
        th(scope='col') Completion
        th(scope='col') Availability 
        th(scope='col') Date Started 
        th(scope='col') Date Finished 
        th(scope='col')
        th(scope='col')
        th(scope='col')
    tbody
      //- Sorted to show older started reading on top.
      - inProgressBooks.sort(function(a, b) {let textA = a.date_started; let textB = b.date_started; return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
      
      //- Loops through each book from the user personal list from start index to end index.
      - var startIndex = (page - 1) * pagination
      - var endIndex = (page * pagination) - 1

      each val, index in inProgressBooks
        //- skip the items from previous pages
        if index < startIndex
          skip
        else
          //- do not list items past the end index
          if index > endIndex
            return
          else
            tr
              
              th(scope='row') !{index+1}.
              
              td
                a(href=inProgressBooks[index].book.url)
                  img(src=`/images/books/${inProgressBooks[index].book._id}.jpg`, style='float:left;width:100%;', title=`${inProgressBooks[index].book.title}`, alt=`${inProgressBooks[index].book.title}`)
              
              td
                a(href=inProgressBooks[index].book.url) #{inProgressBooks[index].book.title}  
              
              td
                a(href=inProgressBooks[index].book.author.url) #{inProgressBooks[index].book.author.name}  
              
              - let ratingCount = 0
              - let ratingSum = 0
              - const book = inProgressBooks[index].book
              //- Loops through all reviews from all users to find the ones for this book.
              each val in userReview_all
                //- If found and if it has a rating, rating is counted and added to the total sum
                - if (val.book.equals(book))
                  - if (val.rating)
                    - ratingCount++
                    - ratingSum=ratingSum+val.rating
                - else 
                  return
              //- If rating count is zero, print n/a for both the average rating and this user's rating
              if ratingCount == 0
                td n/a
                td n/a 
              else
                //- Loops through all reviews from this user to find the one for this book.
                each val in userReview_user
                  //- If found, print the average rating and this user's rating
                  - if (val.book.equals(book))
                    td #{(ratingSum/ratingCount).toFixed(2)} 
                    //- If review exists, but the user didn't rate the book, print n/a
                    if (val.rating==null)
                      td n/a
                    else
                      td #{val.rating}
                  - else 
                    return
                else
                  //- There is no review from this user, but there are from other users
                  td #{(ratingSum/ratingCount).toFixed(2)} 
                  td n/a
              
              td #{inProgressBooks[index].status}  
              
              if inProgressBooks[index].currentPage == null
                td 0%
              else
                td #{Math.floor((inProgressBooks[index].currentPage/inProgressBooks[index].book.pages)*100)+"%"}
              
              td #{inProgressBooks[index].availability}   
              
              if inProgressBooks[index].date_started == null
                td 
              else
                td #{moment(inProgressBooks[index].date_started).format('MMM D, YYYY')}  
              
              if inProgressBooks[index].date_finished == null
                td 
              else
                td #{moment(inProgressBooks[index].date_finished).format('MMM D, YYYY')} 
              
              td
                a(href='/booklists/'+inProgressBooks[index].book._id+'/view' title="View Book Entry") view
              |  
              td 
                a(href='/booklists/'+inProgressBooks[index].book._id+'/edit' title="Edit Book Entry")   
                  svg.bi.bi-pencil(viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd', d='M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z')
                    path(fill-rule='evenodd', d='M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z') 
              |  
              td 
                a(href='/booklists/'+inProgressBooks[index].book._id+'/remove' title="Delete Book Entry")  
                  svg.bi.bi-x-circle-fill.text-danger(viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd', d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z')
      else
        tr
          th(scope='row') 
          td
          td There are no books you are currently reading. Add one 
            | 
            a(href='/catalog/books') now.
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td

  //- Pagination component
  nav(aria-label='User in progress books list page')
    //- There are more items in db than the ones showed on page
    if inProgressBooks.length > pagination
      ul.pagination
        //- There are no more than 2 pages needed
        if inProgressBooks.length <= (2 * pagination)
          //- We are on page 1, disable "previous", enable "next" and manually index the 2 pages
          if page == 1
            li.page-item.disabled
              a.page-link(href='in-progress', aria-label='Previous' tabindex="-1" aria-disabled="true")
                span(aria-hidden='true') «
            li.page-item.active(aria-current='page')
              a.page-link(href=`in-progress?page=1&pagination=${pagination}`) 1
                span.sr-only (current)
            li.page-item
              a.page-link(href=`in-progress?page=2&pagination=${pagination}`) 2
            li.page-item
              a.page-link(href=`in-progress?page=2&pagination=${pagination}`, aria-label='Next')
                span(aria-hidden='true') »
          //- We are on page 2, enable "previous", disable "next" and manually index the 2 pages
          else
            li.page-item
              a.page-link(href=`in-progress?page=1&pagination=${pagination}`, aria-label='Previous')
                span(aria-hidden='true') «
            li.page-item
              a.page-link(href=`in-progress?page=1&pagination=${pagination}`) 1
            li.page-item.active(aria-current='page')
              a.page-link(href=`in-progress?page=2&pagination=${pagination}`) 2
                span.sr-only (current)
            li.page-item.disabled
              a.page-link(href='in-progress', aria-label='Next' tabindex="-1" aria-disabled="true")
                span(aria-hidden='true') »
        //- There are more than 2 pages needed
        else
          //- We are on page 1, disable "previous", enable "next", "last" and manually index the 3 pages
          if page <= 1
            li.page-item.disabled
              a.page-link(href='in-progress', aria-label='Previous' tabindex="-1" aria-disabled="true")
                span(aria-hidden='true') «
            li.page-item.active(aria-current='page')
              a.page-link(href=`in-progress?page=1&pagination=${pagination}`) 1
                span.sr-only (current)
            li.page-item
              a.page-link(href=`in-progress?page=2&pagination=${pagination}`) 2
            li.page-item
              a.page-link(href=`in-progress?page=3&pagination=${pagination}`) 3
            li.page-item
              a.page-link(href=`in-progress?page=2&pagination=${pagination}`, aria-label='Next')
                span(aria-hidden='true') »
            if (Number.isInteger(inProgressBooks.length/pagination))
              li.page-item
                a.page-link(href=`in-progress?page=${Math.floor(inProgressBooks.length/pagination)}&pagination=${pagination}`, aria-label='Last')
                  span(aria-hidden='true') Last »»
            else
              li.page-item
                a.page-link(href=`in-progress?page=${Math.floor(inProgressBooks.length/pagination) + 1}&pagination=${pagination}`, aria-label='Last')
                  span(aria-hidden='true') Last »»
          else
            //- We are on page 2 or more, enable "first", "previous", "next" and "last", index the 3 pages
            if inProgressBooks.length > (page * pagination)
              li.page-item
                a.page-link(href=`in-progress?page=1&pagination=${pagination}`, aria-label='First')
                  span(aria-hidden='true') «« First
              li.page-item
                a.page-link(href=`in-progress?page=${page-1}&pagination=${pagination}`, aria-label='Previous')
                  span(aria-hidden='true') «
              li.page-item
                a.page-link(href=`in-progress?page=${page-1}&pagination=${pagination}`) #{page-1}  
              li.page-item.active(aria-current='page')
                a.page-link(href=`in-progress?page=${page}&pagination=${pagination}`) #{page}  
                  span.sr-only (current)
              li.page-item
                a.page-link(href=`in-progress?page=${page+1}&pagination=${pagination}`) #{page+1}  
              li.page-item
                a.page-link(href=`in-progress?page=${page+1}&pagination=${pagination}`, aria-label='Next')
                  span(aria-hidden='true') »
              if (Number.isInteger(inProgressBooks.length/pagination))
                li.page-item
                  a.page-link(href=`mylist?page=${Math.floor(inProgressBooks.length/pagination)}&pagination=${pagination}`, aria-label='Last')
                    span(aria-hidden='true') Last »»
              else
                li.page-item
                  a.page-link(href=`mylist?page=${Math.floor(inProgressBooks.length/pagination) + 1}&pagination=${pagination}`, aria-label='Last')
                    span(aria-hidden='true') Last »»
            //- We are on the last page, enable "first" and "previous", disable "next", index the 3 pages starting from the last one
            else
              li.page-item
                a.page-link(href=`in-progress?page=1&pagination=${pagination}`, aria-label='First')
                  span(aria-hidden='true') «« First
              li.page-item
                a.page-link(href=`in-progress?page=${page-1}&pagination=${pagination}`, aria-label='Previous')
                  span(aria-hidden='true') «
              li.page-item
                a.page-link(href=`in-progress?page=${page-2}&pagination=${pagination}`) #{page-2}  
              li.page-item
                a.page-link(href=`in-progress?page=${page-1}&pagination=${pagination}`) #{page-1}  
              li.page-item.active(aria-current='page')
                a.page-link(href=`in-progress?page=${page}&pagination=${pagination}`) #{page}  
                  span.sr-only (current)
              li.page-item.disabled
                a.page-link(href='in-progress', aria-label='Next' tabindex="-1" aria-disabled="true")
                  span(aria-hidden='true') »