extends layout

block content

  h3= title  

  form(method='POST' action='')
    div.form-group
      label(for='title') Title:
      input#title.form-control(type='text', placeholder='Name of book' name='title' required='true' value=(undefined===book ? '' : book.title) readonly='')
    div.form-group
      label(for='author') Author:
      input#author.form-control(type='text' placeholder='Author' name='author' required='true' value=(undefined===book ? '' : book.author.name) readonly='')
    div.form-group
      label(for='status') Status:
      - let included = false
      each val, index in personal_list
        if personal_list[index].book._id==book.id
          - included = true
          select#status.form-control(type='select' placeholder='Select status' name='status' required='true')
            option(value="Not read" selected=(personal_list[index].status=="Not read") ? 'selected' : false) Not read
            option(value="In progress" selected=(personal_list[index].status=="In progress") ? 'selected' : false) In progress
            option(value="Read" selected=(personal_list[index].status=="Read") ? 'selected' : false) Read
        else
          return
      if !included      
        select#status.form-control(type='select' placeholder='Select status' name='status' required='true')
          option(value="Not read") Not read
          option(value="In progress") In progress
          option(value="Read") Read
    div.form-group
      label(for='currentPage') Current Page:
      - included = false
      each val, index in personal_list
        if personal_list[index].book._id==book.id
          - included = true
          input#currentPage.form-control(type='text', placeholder='1' name='currentPage' value=(undefined===book ? '' : personal_list[index].currentPage)) 
        else
          return
      if !included
        input#currentPage.form-control(type='text', placeholder='1' name='currentPage') 
    div.form-group
      label(for='availability') Availability:
      - included = false
      each val, index in personal_list
        if personal_list[index].book._id==book.id
          - included = true
          select#availability.form-control(type='select' placeholder='Select availability' name='availability' required='true' )
            option(value="No" selected=(personal_list[index].availability=="No") ? 'selected' : false) No
            option(value="Mail" selected=(personal_list[index].availability=="Mail") ? 'selected' : false) Mail
            option(value="Hard Copy" selected=(personal_list[index].availability=="Hard Copy") ? 'selected' : false) Hard Copy
            option(value="Soft Copy" selected=(personal_list[index].availability=="Soft Copy") ? 'selected' : false) Soft Copy
            option(value="Github" selected=(personal_list[index].availability=="Github") ? 'selected' : false) Github
            option(value="Web" selected=(personal_list[index].availability=="Web") ? 'selected' : false) Web
        else
          return
      if !included  
        select#availability.form-control(type='select' placeholder='Select availability' name='availability' required='true' )
          option(value="No") No
          option(value="Mail") Mail
          option(value="Hard Copy") Hard Copy
          option(value="Soft Copy") Soft Copy
          option(value="Github") Github
          option(value="Web") Web
    div.form-group
      label(for='date_started') Date started:
      - included = false
      each val, index in personal_list
        if personal_list[index].book._id==book.id
          - included = true
          input#date_started.form-control(type='date' 
                                          name='date_started' 
                                          value=(undefined===book ? '' : 
                                          moment(personal_list[index].date_started).format('YYYY-MM-DD')))
        else
          return
      if !included
        input#date_started.form-control(type='date' name='date_started' value='')                    
    div.form-group
      label(for='date_finished') Date finished:
      - included = false
      each val, index in personal_list
        if personal_list[index].book._id==book.id
          - included = true
          input#date_finished.form-control(type='date' 
                                          name='date_finished' 
                                          value=(undefined===book ? '' : 
                                          moment(personal_list[index].date_finished).format('YYYY-MM-DD')))
        else
          return
      if !included
        input#date_finished.form-control(type='date' 
                                          name='date_finished' 
                                          value='')
    div.form-group
      label(for='rating') My Rating:
      - included = false
      each val, index in personal_list
        if personal_list[index].book._id==book.id
          - included = true
          select#rating.form-control(type='select', placeholder='Rate this book with a score between 1-5' name='rating' value=(undefined===book ? '' : personal_list[index].rating)) 
            option(value="1" selected=(personal_list[index].rating=="1") ? 'selected' : false) 1
            option(value="2" selected=(personal_list[index].rating=="2") ? 'selected' : false) 2
            option(value="3" selected=(personal_list[index].rating=="3") ? 'selected' : false) 3
            option(value="4" selected=(personal_list[index].rating=="4") ? 'selected' : false) 4
            option(value="5" selected=(personal_list[index].rating=="5") ? 'selected' : false) 5
      if !included
        select#rating.form-control(type='select', placeholder='Rate this book with a score between 1-5' name='rating') 
            option(value="1") 1
            option(value="2") 2
            option(value="3") 3
            option(value="4") 4
            option(value="5") 5
    div.form-group
      label(for='reviews') My Review:
      - included = false
      each val, index in personal_list
        if personal_list[index].book._id==book.id
          - included = true
          textarea#reviews.form-control(type='textarea', placeholder='Enter a review' name='reviews' rows='3') #{undefined===book ? '' : personal_list[index].reviews}
      if !included
        textarea#reviews.form-control(type='textarea', placeholder='Enter a review' name='reviews' rows='3') 
    button.btn.btn-primary(type='submit') Submit
    | 
    a.btn.btn-secondary(href='/catalog/books') Cancel
  

  if errors 
    ul
      for error in errors
        li!= error.msg
  
  script(src='/javascripts/main.js')