extends layout

block content
  h3= title

  table.table.table-sm.table-hover
    thead.thead-light
      tr
        th(scope='col' width='30px') #
        th(scope='col' width='30px') Cover
        th(scope='col' width='250px') Title 
        th(scope='col') Author 
        th(scope='col') Avg. Rating
        th(scope='col') My Rating
        th(scope='col') Status 
        th(scope='col') Completion
        th(scope='col') Availability 
        th(scope='col') Date Started 
        th(scope='col') Date Finished 
        th(scope='col')
        th(scope='col')
        th(scope='col')
    tbody
      //- Sorted to show latest reads on top.
      - personal_list.sort(function(a, b) {let textA = a.date_finished; let textB = b.date_finished; return (textA > textB) ? -1 : (textA < textB) ? 1 : 0;});
      each val, index in personal_list
        tr
          th(scope='row') !{index+1}.
          td
            a(href=personal_list[index].book.url)
              img(src=`/images/books/${personal_list[index].book._id}.jpg`, style='float:left;width:100%;', title=`${personal_list[index].book.title}`, alt=`${personal_list[index].book.title}`)
          td
            a(href=personal_list[index].book.url) #{personal_list[index].book.title}  
          td
            a(href=personal_list[index].book.author.url) #{personal_list[index].book.author.name}  
          - let ratingCount = 0
          - let ratingSum = 0
          - const book = personal_list[index].book
          each val, i in booklist_count
            each value, j in booklist_count[i].personal_list
              - if (booklist_count[i].personal_list[j].book.equals(book))
                - if (booklist_count[i].personal_list[j].rating)
                  - ratingCount++
                  - ratingSum=ratingSum+booklist_count[i].personal_list[j].rating
              - else 
                return
          if ratingCount == 0
            td N/A
          else
            td #{(ratingSum/ratingCount).toFixed(2)} 
          td #{personal_list[index].rating} 
          td #{personal_list[index].status}  
          if personal_list[index].currentPage == null
            td 0%
          else
            td #{Math.floor((personal_list[index].currentPage/personal_list[index].book.pages)*100)+"%"}
          td #{personal_list[index].availability}   
          if personal_list[index].date_started == null
            td 
          else
            td #{moment(personal_list[index].date_started).format('MMM D, YYYY')}  
          if personal_list[index].date_finished == null
            td 
          else
            td #{moment(personal_list[index].date_finished).format('MMM D, YYYY')} 
          td
            a(href=personal_list[index].book._id+'/view' title="View Book Entry") view
          |  
          td 
            a(href=personal_list[index].book._id+'/edit' title="Edit Book Entry")   
              svg.bi.bi-pencil(viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', d='M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z')
                path(fill-rule='evenodd', d='M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z') 
          |  
          td 
            a(href=personal_list[index].book._id+'/remove' title="Delete Book Entry")  
              svg.bi.bi-x-circle-fill.text-danger(viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z')
      else
        tr
          th(scope='row') 
          td There are no books in your list yet. Add one 
            | 
            a(href='/catalog/books') now.
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td
          td