extends layout

block content
  h1 Title: #{book.title}
  - if (book.language.id != book.originalLanguage.id)
    h6 (Original Title: #{book.originalTitle})

  
  p #[strong Author:] 
    a(href=book.author.url) #{book.author.name}
  p #[strong ISBN:] #{book.isbn}
  p #[strong Genre:]&nbsp;
    each val, index in book.genre
      a(href=val.url) #{val.name}
      if index < book.genre.length - 1
        |, 
  p #[strong Summary:] #{book.summary}
  - if (book.language.id != book.originalLanguage.id)
    p #[strong Language:] #{book.language.name} (#[strong Original Language:] #{book.originalLanguage.name})
  - else
    p #[strong Language:] #{book.language.name}
  p #[strong Number of Pages:] #{book.pages}
  - let ratingCount = 0
  - let ratingSum = 0
  each val, i in booklist_count
    each value, j in booklist_count[i].personal_list
      - if (booklist_count[i].personal_list[j].book.equals(book._id))
        - if (booklist_count[i].personal_list[j].rating)
          - ratingCount++
          - ratingSum=ratingSum+booklist_count[i].personal_list[j].rating
      - else 
        return
  if ratingCount == 0
    p #[strong Average Rating:] N/A
  else
    p #[strong Average Rating:] #{ratingSum/ratingCount} (#[strong No. of Ratings:] #{ratingCount})

  - let reviewCount = 0
  each val, i in booklist_count
    each value, j in booklist_count[i].personal_list
      - if (booklist_count[i].personal_list[j].book.equals(book._id))
        - if (booklist_count[i].personal_list[j].reviews)
          - reviewCount++
          p #[strong Review #{reviewCount}:] #{booklist_count[i].personal_list[j].reviews}

  hr
  if user
    if booklist == null
      p
        a(href=book.booklisturl+'/addtolist') Add to list
    else
      each val, index in booklist.personal_list
        - if (booklist.personal_list[index].book.equals(book._id))
          p #[strong My Status:] #{booklist.personal_list[index].status} | 
            a(href=book.booklisturl+'/edit') Edit | 
            a(href=book.booklisturl+'/remove') Remove
        - else 
          return
    p
      a(href=book.url+'/delete') Delete Book
    p
      a(href=book.url+'/update') Update Book