extends layout

block content
  h3= title
  
  table.table.table-sm.table-hover
    thead.thead-light
      tr
        th(scope='col' width='30px') #
        th(scope='col' width='30px') Cover
        th(scope='col' width='250px') Title 
        th(scope='col') Author 
        th(scope='col') Year Published
        th(scope='col') Avg. Rating
        if user
          th(scope='col') My Status
          th(scope='col')
    tbody
      - book_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
      - let index = 0
      //- Loops through each book from the book list.
      each book in book_list
        - index++
        tr
          
          th(scope='row') !{index}.
          
          td(height='80px')
            a(href=book.url)
              img(src=`/images/books/${book._id}.jpg`, style='float:left;width:100%;', title=`${book.title}`, alt=`${book.title}`)
          
          td
            a(href=book.url) #{book.title} 
          
          td 
            a(href=book.author.url) #{book.author.name} 
          
          td(width='150px') #{book.yearFirstPublished} 
          
          - let ratingCount = 0
          - let ratingSum = 0
          //- Loops through all reviews from all users to find the ones for this book.
          each val in userReview_all
            //- If found and if it has a rating, rating is counted and added to the total sum
            - if (val.book.equals(book._id))
              - if (val.rating)
                - ratingCount++
                - ratingSum=ratingSum+val.rating
            - else 
              return
          //- If rating count is zero, print n/a
          if ratingCount == 0
            td n/a
          //- Else, print the average rating
          else
            td(width='150px') #{(ratingSum/ratingCount).toFixed(2)}
          
          if user
            - let bookAdded = false
            each val, index in personal_list
              - if (personal_list[index].book.title == book.title)
                td(width='150px') #{personal_list[index].status} 
                td(width='150px')
                  a(href=book.booklisturl+'/view' title="View Book Entry") view 
                  a(href=book.booklisturl+'/edit' title="Edit Book Entry") 
                    svg.bi.bi-pencil(viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd', d='M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z')
                      path(fill-rule='evenodd', d='M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z')
                  a(href=book.booklisturl+'/remove' title="Delete Book Entry")
                    svg.bi.bi-x-circle-fill.text-danger(viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd', d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z') 
                - bookAdded = true
              - else 
                return
            if !bookAdded
              td(width='150px') 
                a(href=book.booklisturl+'/addtolist' title="Add Book to My List")
                  svg.bi.bi-plus-circle-fill.text-success(viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd', d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z')
              td
      else
        p There are no books.