extends layout

block content

  h3 #{country.name}
  
  div(style='margin-left:20px;margin-top:20px')

    table.table.table-sm.table-hover
      thead.thead-light
        tr
          th(scope='col' width='80px') 
          th(scope='col') Author 
          th(scope='col') Born
          th(scope='col') Died
          th(scope='col' width='500px')

      tbody 
        - let index = 0
        - country_authors.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        each author in country_authors
          //- Excluding the default author
          if author._id!='5f181920c4d320322dbbf993'
            - index++
            tr
              td(height='100px')
                a(href=author.url)
                  img(src=`/images/authors/${author._id}.jpg`, style='float:left;width:100%;', title=`${author.name}`, alt=`${author.name}`)
              td
                a(href=author.url) #{author.name} 
              if author.date_of_birth == null
                td 
              else
                td #{moment(author.date_of_birth).format('MMM D, YYYY')}
              if author.date_of_death == null
                td 
              else
                td #{moment(author.date_of_death).format('MMM D, YYYY')}
              td

        else
          tr
            th(scope='row') 
            td
            td This country has no authors yet. Add one 
              | 
              a(href='/catalog/author/create') now.
            td
            td
            td

    //- Pagination component
    nav(aria-label='Country detail page')
      //- There are more items in db than the ones showed on page
      if country_author_count > pagination
        ul.pagination
          //- There are no more than 2 pages needed
          if country_author_count <= (2 * pagination)
            //- We are on page 1, disable "previous", enable "next" and manually index the 2 pages
            if page == 1
              li.page-item.disabled
                a.page-link(href=`${country._id}`, aria-label='Previous' tabindex="-1" aria-disabled="true")
                  span(aria-hidden='true') «
              li.page-item.active(aria-current='page')
                a.page-link(href=`${country._id}?page=1&pagination=${pagination}`) 1
                  span.sr-only (current)
              li.page-item
                a.page-link(href=`${country._id}?page=2&pagination=${pagination}`) 2
              li.page-item
                a.page-link(href=`${country._id}?page=2&pagination=${pagination}`, aria-label='Next')
                  span(aria-hidden='true') »
            //- We are on page 2, enable "previous", disable "next" and manually index the 2 pages
            else
              li.page-item
                a.page-link(href=`${country._id}?page=1&pagination=${pagination}`, aria-label='Previous')
                  span(aria-hidden='true') «
              li.page-item
                a.page-link(href=`${country._id}?page=1&pagination=${pagination}`) 1
              li.page-item.active(aria-current='page')
                a.page-link(href=`${country._id}?page=2&pagination=${pagination}`) 2
                  span.sr-only (current)
              li.page-item.disabled
                a.page-link(href=`${country._id}`, aria-label='Next' tabindex="-1" aria-disabled="true")
                  span(aria-hidden='true') »
          //- There are more than 2 pages needed
          else
            //- We are on page 1, disable "previous", enable "next", "last" and manually index the 3 pages
            if page <= 1
              li.page-item.disabled
                a.page-link(href=`${country._id}`, aria-label='Previous' tabindex="-1" aria-disabled="true")
                  span(aria-hidden='true') «
              li.page-item.active(aria-current='page')
                a.page-link(href=`${country._id}?page=1&pagination=${pagination}`) 1
                  span.sr-only (current)
              li.page-item
                a.page-link(href=`${country._id}?page=2&pagination=${pagination}`) 2
              li.page-item
                a.page-link(href=`${country._id}?page=3&pagination=${pagination}`) 3
              li.page-item
                a.page-link(href=`${country._id}?page=2&pagination=${pagination}`, aria-label='Next')
                  span(aria-hidden='true') »
              if (Number.isInteger(country_author_count/pagination))
                li.page-item
                  a.page-link(href=`${country._id}?page=${Math.floor(country_author_count/pagination)}&pagination=${pagination}`, aria-label='Last')
                    span(aria-hidden='true') Last »»
              else
                li.page-item
                  a.page-link(href=`${country._id}?page=${Math.floor(country_author_count/pagination) + 1}&pagination=${pagination}`, aria-label='Last')
                    span(aria-hidden='true') Last »»
            else
              //- We are on page 2 or more, enable "first", "previous", "next" and "last", index the 3 pages
              if country_author_count > (page * pagination)
                li.page-item
                  a.page-link(href=`${country._id}?page=1&pagination=${pagination}`, aria-label='First')
                    span(aria-hidden='true') «« First
                li.page-item
                  a.page-link(href=`${country._id}?page=${page-1}&pagination=${pagination}`, aria-label='Previous')
                    span(aria-hidden='true') «
                li.page-item
                  a.page-link(href=`${country._id}?page=${page-1}&pagination=${pagination}`) #{page-1}  
                li.page-item.active(aria-current='page')
                  a.page-link(href=`${country._id}?page=${page}&pagination=${pagination}`) #{page}  
                    span.sr-only (current)
                li.page-item
                  a.page-link(href=`${country._id}?page=${page+1}&pagination=${pagination}`) #{page+1}  
                li.page-item
                  a.page-link(href=`${country._id}?page=${page+1}&pagination=${pagination}`, aria-label='Next')
                    span(aria-hidden='true') »
                if (Number.isInteger(country_author_count/pagination))
                  li.page-item
                    a.page-link(href=`${country._id}?page=${Math.floor(country_author_count/pagination)}&pagination=${pagination}`, aria-label='Last')
                      span(aria-hidden='true') Last »»
                else
                  li.page-item
                    a.page-link(href=`${country._id}?page=${Math.floor(country_author_count/pagination) + 1}&pagination=${pagination}`, aria-label='Last')
                      span(aria-hidden='true') Last »»
              //- We are on the last page, enable "first" and "previous", disable "next", index the 3 pages starting from the last one
              else
                li.page-item
                  a.page-link(href=`${country._id}?page=1&pagination=${pagination}`, aria-label='First')
                    span(aria-hidden='true') «« First
                li.page-item
                  a.page-link(href=`${country._id}?page=${page-1}&pagination=${pagination}`, aria-label='Previous')
                    span(aria-hidden='true') «
                li.page-item
                  a.page-link(href=`${country._id}?page=${page-2}&pagination=${pagination}`) #{page-2}  
                li.page-item
                  a.page-link(href=`${country._id}?page=${page-1}&pagination=${pagination}`) #{page-1}  
                li.page-item.active(aria-current='page')
                  a.page-link(href=`${country._id}?page=${page}&pagination=${pagination}`) #{page}  
                    span.sr-only (current)
                li.page-item.disabled
                  a.page-link(href=`${country._id}`, aria-label='Next' tabindex="-1" aria-disabled="true")
                    span(aria-hidden='true') »




  hr
  if user
    a.btn.btn-dark(href=country.url+'/update') Update country
    | 
    a.btn.btn-danger(href=country.url+'/delete') Delete country