extends layout

block content

  h3 Genre: #{genre.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Books
    
    table.table.table-sm.table-hover
      thead.thead-light
        tr
          th(scope='col' width='30px') #
          th(scope='col' width='500px') Title 
          th(scope='col') Author 
      tbody
        - genre_books.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        - let index = 0
        each book in genre_books
          - index++
          tr
            th(scope='row') !{index}.
            td
              a(href=book.url) #{book.title} 
            td 
              a(href=book.author.url) #{book.author.name} 
        else
          tr
            th(scope='row') 
            td This genre has no books yet. Add one 
              | 
              a(href='/catalog/book/create') now.
            td

  hr
  if user
    a.btn.btn-dark(href=genre.url+'/update') Update genre
    | 
    a.btn.btn-danger(href=genre.url+'/delete') Delete genre