extends layout

block content

  h3 #{language.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h6 
      a(href=`/catalog/language/${language._id}`) Books available in this language
      |
      | Books written in this language 
    
    table.table.table-sm.table-hover
      thead.thead-light
        tr
          th(scope='col' width='80px') Cover
          th(scope='col' width='500px') Title 
          th(scope='col') Author 
      tbody
      - originalLanguage_books.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
      - index = 0
      each book in originalLanguage_books
        - index++
        tr
          td(height='100px')
              a(href=book.url)
                img(src=`/images/books/${book._id}.jpg`, style='float:left;width:100%;', title=`${book.title}`, alt=`${book.title}`)
          td
            a(href=book.url) #{book.title} 
          td 
            a(href=book.author.url) #{book.author.name} 
      else
        tr
          th(scope='row') 
          td This language has no books yet. Add one 
            | 
            a(href='/catalog/book/create') now.
          td
    
    //- Pagination component
    nav(aria-label='Original language detail page')
      //- There are more items in db than the ones showed on page
      if originalLanguage_book_count > pagination
        ul.pagination
          //- There are no more than 2 pages needed
          if originalLanguage_book_count <= (2 * pagination)
            //- We are on page 1, disable "previous", enable "next" and manually index the 2 pages
            if page == 1
              li.page-item.disabled
                a.page-link(href=`${language._id}`, aria-label='Previous' tabindex="-1" aria-disabled="true")
                  span(aria-hidden='true') «
              li.page-item.active(aria-current='page')
                a.page-link(href=`${language._id}?page=1&pagination=${pagination}`) 1
                  span.sr-only (current)
              li.page-item
                a.page-link(href=`${language._id}?page=2&pagination=${pagination}`) 2
              li.page-item
                a.page-link(href=`${language._id}?page=2&pagination=${pagination}`, aria-label='Next')
                  span(aria-hidden='true') »
            //- We are on page 2, enable "previous", disable "next" and manually index the 2 pages
            else
              li.page-item
                a.page-link(href=`${language._id}?page=1&pagination=${pagination}`, aria-label='Previous')
                  span(aria-hidden='true') «
              li.page-item
                a.page-link(href=`${language._id}?page=1&pagination=${pagination}`) 1
              li.page-item.active(aria-current='page')
                a.page-link(href=`${language._id}?page=2&pagination=${pagination}`) 2
                  span.sr-only (current)
              li.page-item.disabled
                a.page-link(href=`${language._id}`, aria-label='Next' tabindex="-1" aria-disabled="true")
                  span(aria-hidden='true') »
          //- There are more than 2 pages needed
          else
            //- We are on page 1, disable "previous", enable "next", "last" and manually index the 3 pages
            if page <= 1
              li.page-item.disabled
                a.page-link(href=`${language._id}`, aria-label='Previous' tabindex="-1" aria-disabled="true")
                  span(aria-hidden='true') «
              li.page-item.active(aria-current='page')
                a.page-link(href=`${language._id}?page=1&pagination=${pagination}`) 1
                  span.sr-only (current)
              li.page-item
                a.page-link(href=`${language._id}?page=2&pagination=${pagination}`) 2
              li.page-item
                a.page-link(href=`${language._id}?page=3&pagination=${pagination}`) 3
              li.page-item
                a.page-link(href=`${language._id}?page=2&pagination=${pagination}`, aria-label='Next')
                  span(aria-hidden='true') »
              if (Number.isInteger(originalLanguage_book_count/pagination))
                li.page-item
                  a.page-link(href=`${language._id}?page=${Math.floor(originalLanguage_book_count/pagination)}&pagination=${pagination}`, aria-label='Last')
                    span(aria-hidden='true') Last »»
              else
                li.page-item
                  a.page-link(href=`${language._id}?page=${Math.floor(originalLanguage_book_count/pagination) + 1}&pagination=${pagination}`, aria-label='Last')
                    span(aria-hidden='true') Last »»
            else
              //- We are on page 2 or more, enable "first", "previous", "next" and "last", index the 3 pages
              if originalLanguage_book_count > (page * pagination)
                li.page-item
                  a.page-link(href=`${language._id}?page=1&pagination=${pagination}`, aria-label='First')
                    span(aria-hidden='true') «« First
                li.page-item
                  a.page-link(href=`${language._id}?page=${page-1}&pagination=${pagination}`, aria-label='Previous')
                    span(aria-hidden='true') «
                li.page-item
                  a.page-link(href=`${language._id}?page=${page-1}&pagination=${pagination}`) #{page-1}  
                li.page-item.active(aria-current='page')
                  a.page-link(href=`${language._id}?page=${page}&pagination=${pagination}`) #{page}  
                    span.sr-only (current)
                li.page-item
                  a.page-link(href=`${language._id}?page=${page+1}&pagination=${pagination}`) #{page+1}  
                li.page-item
                  a.page-link(href=`${language._id}?page=${page+1}&pagination=${pagination}`, aria-label='Next')
                    span(aria-hidden='true') »
                if (Number.isInteger(originalLanguage_book_count/pagination))
                  li.page-item
                    a.page-link(href=`${language._id}?page=${Math.floor(originalLanguage_book_count/pagination)}&pagination=${pagination}`, aria-label='Last')
                      span(aria-hidden='true') Last »»
                else
                  li.page-item
                    a.page-link(href=`${language._id}?page=${Math.floor(originalLanguage_book_count/pagination) + 1}&pagination=${pagination}`, aria-label='Last')
                      span(aria-hidden='true') Last »»
              //- We are on the last page, enable "first" and "previous", disable "next", index the 3 pages starting from the last one
              else
                li.page-item
                  a.page-link(href=`${language._id}?page=1&pagination=${pagination}`, aria-label='First')
                    span(aria-hidden='true') «« First
                li.page-item
                  a.page-link(href=`${language._id}?page=${page-1}&pagination=${pagination}`, aria-label='Previous')
                    span(aria-hidden='true') «
                li.page-item
                  a.page-link(href=`${language._id}?page=${page-2}&pagination=${pagination}`) #{page-2}  
                li.page-item
                  a.page-link(href=`${language._id}?page=${page-1}&pagination=${pagination}`) #{page-1}  
                li.page-item.active(aria-current='page')
                  a.page-link(href=`${language._id}?page=${page}&pagination=${pagination}`) #{page}  
                    span.sr-only (current)
                li.page-item.disabled
                  a.page-link(href=`${language._id}`, aria-label='Next' tabindex="-1" aria-disabled="true")
                    span(aria-hidden='true') »
    hr
  if user
    a.btn.btn-dark(href=language.url+'/update') Update language
    | 
    a.btn.btn-danger(href=language.url+'/delete') Delete language
    | 
    a.btn.btn-secondary(href='/catalog/languages') Back to Languages