extends layout

block content

  h3 Language: #{language.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h6 Books available in this language: 
    table.table.table-sm.table-hover
      thead.thead-light
        tr
          th(scope='col') #
          th(scope='col') Title 
          th(scope='col') Author 
      tbody
      - language_books.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
      - let index = 0
      each book in language_books
        - index++
        tr
          th(scope='row') !{index}.
          td
            a(href=book.url) #{book.title} 
          td 
            a(href=book.author.url) #{book.author.name}
    hr
    h6 Books written in this language: 
    table.table.table-sm.table-hover
      thead.thead-light
        tr
          th(scope='col') #
          th(scope='col') Title 
          th(scope='col') Author 
      tbody
      - originalLanguage_books.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
      - index = 0
      each book in originalLanguage_books
        - index++
        tr
          th(scope='row') !{index}.
          td
            a(href=book.url) #{book.title} 
          td 
            a(href=book.author.url) #{book.author.name} 
      else
        p This language has no books

    hr
  if user
    a.btn.btn-secondary(href=language.url+'/update') Update language
    | 
    a.btn.btn-danger(href=language.url+'/delete') Delete language